<a href="https://colab.research.google.com/github/prabirdeb/SQL-Case_Study-Danny-s-Dinner2/blob/main/SQL_Case_Study_Danny's_Dinner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **SQL Case Study- Danny's Dinner**

**Introduction**

Danny seriously loves Japanese food so in the beginning of 2021, he decides to embark upon a risky venture and opens up a cute little restaurant that sells his 3 favourite foods: sushi, curry and ramen.

Danny’s Diner is in need of your assistance to help the restaurant stay afloat - the restaurant has captured some very basic data from their few months of operation but have no idea how to use their data to help them run the business.

**Problem Statement**

Danny wants to use the data to answer a few simple questions about his customers, especially about their visiting patterns, how much money they’ve spent and also which menu items are their favourite. Having this deeper connection with his customers will help him deliver a better and more personalised experience for his loyal customers.

He plans on using these insights to help him decide whether he should expand the existing customer loyalty program - additionally he needs help to generate some basic datasets so his team can easily inspect the data without needing to use SQL.

Danny has provided you with a sample of his overall customer data due to privacy issues - but he hopes that these examples are enough for you to write fully functioning SQL queries to help him answer his questions!

Danny has shared with you 3 key datasets for this case study:

sales
menu
members
You can inspect the entity relationship diagram and example data below.

**Entity Relationship Diagram**

![image.png]()

**Example Datasets**

All datasets exist within the dannys_diner database schema - be sure to include this reference within your SQL scripts as you start exploring the data and answering the case study questions.

**Table 1: sales**

The sales table captures all customer_id level purchases with an corresponding order_date and product_id information for when and what menu items were ordered.

**Table 2: menu**

The menu table maps the product_id to the actual product_name and price of each menu item.

**Table 3: members**

The final members table captures the join_date when a customer_id joined the beta version of the Danny’s Diner loyalty program.

In [1]:
!pip install pymysql
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.pool import NullPool
def mysql(query:'Write the query here .'):
    '''
    This function fetches data from database and returns the result.
    '''
    try:
        engine_db = create_engine('mysql+pymysql://almafolk:8l39zk60q@learning-activity.cejogcrmn6il.ap-south-1.rds.amazonaws.com:3306/assignment', poolclass=NullPool )
        conn = engine_db.connect()
        # Reading Data
        df = pd.read_sql_query(query, conn)

        #if your connection object is named conn
        if not conn.closed:
            conn.close()
        engine_db.dispose()
        return df
    except Exception as e:
        print(e)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.6 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

**Case Study Questions**

Each of the following case study questions can be answered using a single SQL statement:

## I. What is the total amount each customer spent at the restaurant?

**Expected Output:**

![image.png]()

In [2]:
# Write Your code here.

# Checking the head of sales table
mysql('''SELECT * FROM sales''')

   customer_id  order_date  product_id
0            A  2021-01-01           1
1            A  2021-01-01           2
2            A  2021-01-07           2
3            A  2021-01-10           3
4            A  2021-01-11           3
5            A  2021-01-11           3
6            B  2021-01-01           2
7            B  2021-01-02           2
8            B  2021-01-04           1
9            B  2021-01-11           1
10           B  2021-01-16           3
11           B  2021-02-01           3
12           C  2021-01-01           3
13           C  2021-01-01           3
14           C  2021-01-07           3

In [3]:
# Checking the head of menu table
mysql('''SELECT * FROM menu''')

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

In [4]:
# Checking the head of members table
mysql('''SELECT * FROM members''')

  customer_id   join_date
0           A  2021-01-07
1           B  2021-01-09

In [5]:
# Total amount each customer spent at the restaurant
mysql('''SELECT sales.customer_id, SUM(menu.price) AS total_sales FROM sales 
JOIN menu ON menu.product_id=sales.product_id 
GROUP BY customer_id''')

  customer_id  total_sales
0           A         76.0
1           B         74.0
2           C         36.0

## II. What was the first item from the menu purchased by each customer?



**Expected Output:** 

![image.png]()

In [6]:
# Write Your code here.

# First item from the menu purchased by each customer
mysql('''SELECT sales.customer_id, menu.product_name FROM sales 
JOIN menu ON sales.product_id=menu.product_id 
WHERE order_date = (SELECT MIN(order_date) FROM sales) 
GROUP BY customer_id, product_name 
ORDER BY customer_id''')

  customer_id product_name
0           A        curry
1           A        sushi
2           B        curry
3           C        ramen

## III. How many days has each customer visited the restaurant?

**Expected Output:** 

![image.png]()

In [7]:
# Number of days has each customer visited the restaurant
mysql('''SELECT customer_id, COUNT(DISTINCT order_date) AS visit_count FROM sales 
GROUP BY customer_id''')

  customer_id  visit_count
0           A            4
1           B            6
2           C            2



## IV. What is the most purchased item on the menu and how many times was it purchased by all customers?

**Expected Output:**

![image.png]()

In [8]:
# Write Your code here.

# Most purchased item on the menu and how many times was it purchased by all customers
mysql('''SELECT COUNT(product_name) AS most_purchased, product_name FROM sales 
JOIN menu ON sales.product_id=menu.product_id 
GROUP BY product_name 
ORDER BY most_purchased DESC''')

   most_purchased product_name
0               8        ramen
1               4        curry
2               3        sushi

## V. Which item was the most popular for each customer?


**Expected Output:**

![image.png]()

In [9]:
# Most popular items for each customer
mysql('''SELECT customer_id, product_name, COUNT(product_name) AS order_count FROM sales 
JOIN menu ON sales.product_id=menu.product_id 
GROUP BY customer_id, product_name
ORDER BY order_count DESC''')

  customer_id product_name  order_count
0           A        ramen            3
1           C        ramen            3
2           A        curry            2
3           B        curry            2
4           B        sushi            2
5           B        ramen            2
6           A        sushi            1

## VI. Which item was purchased first by the customer after they became a member?


**Expected Output:**

![image.png]()

In [10]:
# Write Your code here.

# Item purchased first by the customer after they became a member
mysql('''SELECT sales.customer_id, sales.order_date, menu.product_name FROM sales 
JOIN menu ON sales.product_id=menu.product_id 
JOIN members ON sales.customer_id=members.customer_id 
WHERE sales.order_date >=members.join_date GROUP BY customer_id''')

  customer_id  order_date product_name
0           B  2021-01-11        sushi
1           A  2021-01-07        curry

## VII. Which item was purchased just before the customer became a member?

**Expected Output:**

![image.png]()

In [11]:
# Items purchased just before the customer became a member
mysql('''SELECT sales.customer_id, MAX(sales.order_date) AS order_date, menu.product_name FROM sales 
JOIN menu ON menu.product_id=sales.product_id 
JOIN members ON members.customer_id=sales.customer_id 
WHERE order_date<join_date 
GROUP BY customer_id, product_name
ORDER BY customer_id DESC''')

  customer_id  order_date product_name
0           B  2021-01-02        curry
1           B  2021-01-04        sushi
2           A  2021-01-01        curry
3           A  2021-01-01        sushi

## VIII. What is the total items and amount spent for each member before they became a member?

**Expected Output:**

![image.png]()

In [12]:
# Write Your code here.

# Total items and amount spent for each member before they became a member
mysql('''SELECT sales.customer_id, COUNT(DISTINCT menu.product_name) AS unique_menu_item, SUM(menu.price) AS total_sales FROM sales
JOIN menu ON sales.product_id=menu.product_id 
JOIN members ON sales.customer_id=members.customer_id 
WHERE sales.order_date <members.join_date
GROUP BY customer_id''')

  customer_id  unique_menu_item  total_sales
0           A                 2         25.0
1           B                 2         40.0

## IX. If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

**Expected Output:**


![image.png]()

In [13]:
# Finding the total points for all the customers
mysql('''SELECT customer_id, SUM(CASE WHEN product_name="sushi" THEN 20*price ELSE 10*price END) AS total_points FROM sales 
JOIN menu on menu.product_id=sales.product_id GROUP BY customer_id''')

  customer_id  total_points
0           A         860.0
1           B         940.0
2           C         360.0

## X. Join All The Things. Recreate the table with: customer_id, order_date, product_name, price, member (Y/N)

**Expected Output:**

![image.png]()

In [14]:
# Recreating the table with membership status
mysql('''SELECT sales.customer_id, sales.order_date, menu.product_name, menu.price, CASE WHEN sales.order_date < members.join_date THEN "N" ELSE "Y" END AS member FROM sales 
JOIN menu ON sales.product_id=menu.product_id 
JOIN members ON sales.customer_id=members.customer_id
ORDER BY customer_id, order_date''')

   customer_id  order_date product_name  price member
0            A  2021-01-01        sushi     10      N
1            A  2021-01-01        curry     15      N
2            A  2021-01-07        curry     15      Y
3            A  2021-01-10        ramen     12      Y
4            A  2021-01-11        ramen     12      Y
5            A  2021-01-11        ramen     12      Y
6            B  2021-01-01        curry     15      N
7            B  2021-01-02        curry     15      N
8            B  2021-01-04        sushi     10      N
9            B  2021-01-11        sushi     10      Y
10           B  2021-01-16        ramen     12      Y
11           B  2021-02-01        ramen     12      Y